
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h2>Important Message</h2>
<p>This is <ex>extremly</ex> unimportant message. The view here is <b>only</b> for an example</p>
<p>Thank you!</p>